@import '~ng-smn-ui/core/variables';

.input-legend {
    width: 100%;
    display: flex;
    justify-content: flex-end;
        ui-input-container {
            max-width: 200px;
        }
}

.chip-cont {
    background-color: #2196f3;
    color: #FFF;
}

@include mobile() {
    .input-legend {
            ui-input-container {
                max-width: 100%;
            }
        }

}