<ui-toolbar class="fixed flat elevate-on-scroll primary elevate-on-s960" id="app-header">
  <button class="ui-button flat icon" (click)="menuOpen = true" uiRipple>
    <i class="material-icons">menu</i>
  </button>
  <span class="title">Home</span>
</ui-toolbar>
<ui-nav-drawer class="persistent" [(open)]="menuOpen">
  <ui-toolbar class="flat">
    <button (click)="menuOpen = false" class="ui-button flat icon" uiRipple>
      <i class="material-icons">arrow_back</i>
    </button>
    <span class="title">Home</span>
  </ui-toolbar>
  <div class="ui-nav-drawer-overflow">
    <div class="ui-list">
      <a class="ui-list-item" uiRipple routerLink='/'>Home</a>
      <a class="ui-list-item" uiRipple routerLink='/insert'>Inserir dados</a>
      <a class="ui-list-item" uiRipple routerLink='/correlacao-regressao'>Correlação/Regressão</a>
      <a class="ui-list-item" uiRipple routerLink='/distribuicao-uniforme'>Distribuição uniforme</a>
      <a class="ui-list-item" uiRipple routerLink='/distribuicao-nominal'>Distribuição nominal</a>
      <a class="ui-list-item" uiRipple routerLink='/distribuicao-binomial'>Distribuição binomial</a>
    </div>
  </div>
</ui-nav-drawer>
<router-outlet></router-outlet>
