<div class="ui-s840">


  <div class="content" *ngIf="dados.content">
    <div class="content__card">
      <app-table [data]="dados.content" [title]="dados.title"></app-table>
    </div>
    <div class="content__card">
      <ui-card class="elevate-on-toolbar">
        <smn-graphic [data]="MOCK.items"
                     [legend]="MOCK.legend"
                     [config]="{
                   colorSelected: '#263238',
                   lineColor: '#E0E0E0',
                   colors: ['#78909C', '#546E7A'],
                   noSpace: true
             }"
                     [title]="MOCK.title"
                     [subtitle]="'Elementos de um grafico'">
          <section class="menu-info">
            <div class="menu-info__header">
              {{ graphicService.info.legend }}
            </div>
            <div class="menu-info__header">
              <b>Quantidade: {{ graphicService.info.value }}</b>
            </div>
            <div class="menu-info__header">
              Data: {{ graphicService.info.column }}
            </div>
          </section>
        </smn-graphic>
      </ui-card>
    </div>

    <section class="content__cards">
      <section class="content__cards__card">
        <h1 class="content__card__card__title">Média</h1>
        <h1 class="content__card__card__subtitle">41,5</h1>
      </section>
    </section>
  </div>


  <ui-card class="elevate-on-toolbar" *ngIf="!dados.content">
    <ui-card-content>
      <div style="padding: 32px 0; text-align: center;">
        Nenhum dado foi encontrado!
      </div>
    </ui-card-content>
  </ui-card>

</div>
